.jumbotron {
  display:block;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

body {
  background-image: url("../img/tablecloth.jpeg")
}

.menu {
  background-color: #e9ecef;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 0.3rem;
  padding:5%;
}

.submit {
display: block;
align-self: center;
}

.orderplaced {
  text-align:center;
}

#ordertotal {
background-color: #ffffff;

}